<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Instamart_project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
     <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Validation</url-pattern>
    </filter-mapping>

    
  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/listProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/ViewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentalAgreement</servlet-name>
    <servlet-class>RentalAgreement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalAgreement</servlet-name>
    <url-pattern>/RentalAgreement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HidePackage</servlet-name>
    <servlet-class>HidePackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HidePackage</servlet-name>
    <url-pattern>/HidePackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Renewal</servlet-name>
    <servlet-class>Renewal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Renewal</servlet-name>
    <url-pattern>/Renewal</url-pattern>
  </servlet-mapping>
</web-app>